body {text-align: center; 
	background-image:url(file://C:\Users\ByrnesM\Desktop\mkbyrnes.github.io\arnold\image);
	background-size: cover;
	font-family: Helvetica
	;
}
h1, h2, h3, p {color: #0000FF;
	text-align: center;
	font-family: helvetica;
}
